:root {
  --paper: #FDFDFC;
  --ink: #272F3B;
  --teal: #05AAB3;
  --gold: #FBBF24;
  --rose: #EC4899;
  --font-quote: 'Merriweather', serif;
  --font-ui: 'Inter', sans-serif;
}

html.dark {
  --paper: #1B1E24;
  --ink: #E4E8EE;
  --teal: #17C1C8;
  --gold: #FFC857;
  --rose: #EC4899;
}
